<div class="container-fluid" *ngIf="identidad && identidad.rol == 'Administrador'">
    <h1>Crear nuevo album</h1>

    <form #formularioAlbum="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div *ngIf="alertaMensaje" class="col-lg-12">
                <div class="alert alert-info alert-sm" role="alert">
                    {{alertaMensaje}}
                </div>
            </div>

            <div class="col-lg-6">
                <p>
                    <label>Titulo</label>
                    <input class="form-control" type="text" #titulo="ngModel" name="titulo" [(ngModel)]="album.titulo" required >
                    <span *ngIf="!titulo.valid && titulo.touched">
                        El titulo es obligatorio
                    </span>
                </p>

                <p>
                    <label>Fecha de publicación</label>
                    <input class="form-control" type="text" #publicacion="ngModel" name="publicacion" [(ngModel)]="album.publicacion" required >
                    <span *ngIf="!publicacion.valid && publicacion.touched">
                        La fecha de publicación es obligatorio
                    </span>
                </p>

                <p>
                    <label>Discográfica</label>
                    <input class="form-control" type="text" #discografia="ngModel" name="discografia" [(ngModel)]="album.discografia" required >
                    <span *ngIf="!discografia.valid && discografia.touched">
                        La discográfica es obligatoria
                    </span>
                </p>

                <p>
                    <label>Género</label>
                    <input class="form-control" type="text" #genero="ngModel" name="genero" [(ngModel)]="album.genero" required >
                    <span *ngIf="!genero.valid && genero.touched">
                        El género es obligatorio
                    </span>
                </p>

                <div *ngIf="para_editar">
                    <p>
                        <label>Subir la imagen del album</label>
                        <input type="file" (change)="fileChangeEvent($event)" >
                    </p>
                </div>

                <p>
                    <input type="submit" value="{{tituloBoton}}" class="btn btn-success" [disabled]="!formularioAlbum.form.valid" />
                </p>
            </div>

            <div *ngIf="para_editar" class="col-lg-offset-9">
                <div *ngIf="album.imagen && album.imagen != 'null' && para_editar" class="col-lg-6">
                    <img class="artista_imagen_para_editar" src="{{url + 'obtener-imagen-album/' + album.imagen}}">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid" *ngIf="!identidad || identidad.rol != 'Administrador'">
    <h1>¡Acceso denegado!</h1>
    <p>No tienes el permiso para acceder a está parte de la aplicación.</p>
</div>