<div *ngIf="disco" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-sm-3">
                <div class="ver_fotografia_artista">
                    <img src="{{url + 'obtener-imagen-album/' + disco.album.imagen}}">
                </div>
            </div>

            <div class="col-lg-9 col-sm-9 datos-serie">
                <div class="col-lg-7">
                    <h3>CD {{disco.numero}}</h3>

                    <h4><strong>Album</strong>: {{disco.album.titulo}}</h4>
    
                    <h5><strong>Artista</strong>: {{disco.album.artista.nombre}}</h5>
    
                    <div class="btn_cambiar_datos" style="float: none;" *ngIf="identidad.rol == 'Administrador'">
                        <a [routerLink]="['/album/', disco.album._id]" class="btn btn-success volver">Volver</a>
                        <a [routerLink]="['/nueva-cancion/', disco._id]" class="btn btn-success nuevo_album">Añadir canción</a>
                    </div>
    
                    <reproductorCancion></reproductorCancion>
                </div>

                <div class="col-lg-5">
                    <div id="letra_cancion"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="rotulo_album">
        <h3>Canciones:</h3>
    </div>

    <div class="row">
        <div class="col-lg-12 container-fluid btn_nueva_temporada" *ngIf="identidad && disco">
            <div class="lista_albums">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let cancion of canciones">
                            <td class="columnas_artistas">
                                <a class="btn btn-success glyphicon glyphicon-play" id="boton_play" (click)="comenzarCancion(cancion)"></a>
                            </td>
                            <td class="columnas_artistas_albums">
                                {{cancion.numero + '. ' + cancion.nombre}}
                            </td>
                            <td class="columnas_artistas">
                                {{cancion.duracion}}
                            </td>
                            <td class="columnas_artistas_albums" *ngIf="identidad.rol == 'Administrador'">
                                <div class="btns-defecto" *ngIf="confirmado != cancion._id">
                                    <a [routerLink]="['/editar-cancion', cancion._id]" class="btn btn-success">Editar</a>
                                    <a (click)="onEliminarConfirmar(cancion._id)" class="btn btn-danger">Borrar</a>
                                </div>
            
                                <div class="btns-defecto" *ngIf="confirmado == cancion._id">
                                    <a (click)="onEliminarCancion(cancion._id)" class="btn btn-danger">Eliminar</a>
                                    <a (click)="onCancelarCancion()" class="btn btn-primary">Cancelar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>